    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

    *{
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
    
    }

.AddCandidate {
    text-align: center;
    margin-top: 3rem;
    margin-left: 40rem;
    border-radius: 3rem;
    box-shadow: 2px 2px 8px rgb(122, 122, 122);
    height: 15rem;
    width: 60rem;
    border-radius: 1rem;
    position:absolute;
  
   
}


.C_details{
    justify-content:center;
    position: relative;
    display: flex;
    margin-top: 2rem;

}
.C_details label{
    margin-right: 1rem;
    font-size: 1.5rem;
}
.C_details input{
    box-shadow: 1px 1px 5px rgb(122, 122, 122);
    margin-right: 5rem;
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    box-sizing: border-box;
    border-radius: 0.5rem;
   
}
.button-42 {
    margin-left: 2rem;
    margin-top: 4rem;
    background-color: initial;
    background-image: linear-gradient(-180deg, #f950ff, #95009a);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,Roboto,"Helvetica Neue",Arial,sans-serif;
    height: 40px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 20px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: top;
    white-space: nowrap;
    z-index: 9;
    border: 0;
    transition: box-shadow .2s;
  }
  
  .button-42:hover {
    box-shadow: rgba(126, 0, 120, 0.5) 0 3px 8px;
  }

  #addCE{
    margin-top: 5rem;
    color: rgb(245, 14, 191);
    font-size: 2.5rem;
  }