@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif;
 
}

.admin_navlinks {
    background-color: white;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logout{
    margin-left: 75rem;
}