@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
  box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif;
 
}

.message{
    margin-left: 30rem;
}

#phase{
    margin-top: 1rem;
    font-size: 2rem;
}

.candidates{
    display: none;
}