@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    box-sizing: border-box;
  word-wrap: break-word;
  font-family: 'Poppins', sans-serif;
}

.profile-main{
    background-color: rgb(255, 255, 255);
    width: 90rem;
    height: 40rem;
    margin-left: 25rem;
    margin-top: 2rem;
    border-radius: 2rem;
    box-shadow: 2px 2px 8px rgb(205, 205, 205);
 
}



.profile-main h1{
    text-align: center;
    margin-top: 1rem;
}

.profile-main .left-info{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:10px;
    margin-left: 1rem;
    
}

.profile-main .left-info label {
   
    margin-top: 2rem;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-name: slidetext;
    animation-delay: 1s;
    margin-left: 1rem;
    text-decoration: none;
    list-style-type: none;
    font-size: 1.5rem;
    visibility: hidden;
  opacity: 0;
    
}


.profile-main .left-info span{
    margin-top: 2rem;
    font-size: 1.5rem;
    animation-duration: 2s;
    
  animation-name:span-ani;
  animation-fill-mode: forwards;
  visibility: hidden;
  opacity: 0;
    
}

.profile-main .left-info span:nth-child(2){ animation-delay: 2s;}
.profile-main .left-info span:nth-child(4){ animation-delay: 3s;}
.profile-main .left-info span:nth-child(6){ animation-delay: 4s;}
.profile-main .left-info span:nth-child(8){ animation-delay: 5s;}

@keyframes span-ani{
  50% {
    visibility: hidden;
    opacity: 0.1;
    
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
    
  }

  

.profile-main .left-info label:nth-child(1){ animation-delay: 1s;}
.profile-main .left-info label:nth-child(3){ animation-delay: 2s;}
.profile-main .left-info label:nth-child(5){ animation-delay: 3s;}
.profile-main .left-info label:nth-child(7){ animation-delay: 4s;}

  @keyframes slidetext {
    50% {
        visibility: hidden;
        opacity: 0.1;
        
      }
      100% {
        visibility: visible;
        opacity: 1;
      }
    
  }
